<!DOCTYPE html>
<html lang="en">
<head>
<title>Hortala Immobilier</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{asset('styles/bootstrap4/bootstrap.min.css')}}">
<link href="{{asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('styles/main_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('styles/responsive.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" href="{{asset('plugins/themify-icons/themify-icons.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('styles/contact_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('styles/contact_responsive.css')}}">
</head>
<body>
<style type="text/css">
  
.reservations a{
    color:black;
}
.reservations a:hover ,.reservations a:focus , .reservations a:visited{
    color:black;
}
.pagination > li > a,
.pagination > li > span{
    color: black;

}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
    background-color: #246200;
    color:white;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color:#246200;
    color: white;
    border: 1px solid #dddddd;
}
</style>
<div class="super_container">

  <!-- Header -->

  <header class="header trans_300">

    <!-- Top Navigation -->

    <div class="top_nav">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="top_nav_left">77 000 000 00 | 77 777 77 77 </div>
          </div>
          <div class="col-md-6 text-right">
            <div class="top_nav_right">
              <ul class="top_nav_menu">
                <li class="account">
                  <a href="#">
                    My Account
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="account_selection">
                    <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                    <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Navigation -->

    <div class="main_nav_container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-right">
            <div class="logo_container">
              <a href="#">Hortala <span>Immobilier</span></a>
            </div>
            <nav class="navbar">
              <ul class="navbar_menu">
                <li><a href="{{path('searchprix')}}">Accueil</a></li>
                <li><a href="{{path('accueiladmin')}}">Proposer</a></li>
                <li><a href="#">Louer</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              
              <div class="hamburger_container">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="fs_menu_overlay"></div>
  <div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
      <ul class="menu_top_nav">
      
        <li class="menu_item has-children">
          <a href="#">
            My Account
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="menu_selection">
            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
          </ul>
        </li>
        <li><a href="{{path('searchprix')}}">Accueil</a></li>
                <li><a href="{{path('accueiladmin')}}">Proposer</a></li>
                <li><a href="#">Louer</a></li>
                <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- Slider -->
  <div class="main_slider" style="background-image:url('{{asset('image/slide3.jpg')}}')">
    <div class="container fill_height">
      <div class="row align-items-center fill_height">
        <div class="col">
<<<<<<< HEAD
      <div class="main_slider_content" style="width: 350px;background-color: white;padding: 30px; ">
      <h3 style="">Rechercher le bien qui vous ressemble</h3>
      <form class="form-group" method="post">
=======
          <div class="main_slider_content" style="width: 350px;background-color: white;padding: 30px; ">
            <h3 style="">Rechercher le bien qui vous ressemble</h3>
            <form class="form-group" method="post">
>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
              <div class="form-group">
      <label for="usr">Type:</label>
      <select name="libelletype" class="form-control"><option value="" selected="true">Choisir un type</option>
      {% for typebien in typebiens %}
      <option value="{{typebien.libelletype}}">{{typebien.libelletype}}</option>
           {% endfor %}
             </select></div>              <div class="form-group">

      <label for="localite">Localite:</label>
      <select name="libellelocalite" class="form-control"><option value="" selected="true">Choisir une localite</option>

      {% for localite in localites %}
      <option value="{{localite.libellelocalite}}">{{localite.libellelocalite}}</option>
               {% endfor %}
                        </select></div> <div class="form-group">

      <label for="budget">Budget:</label>
      <input type="number" class="form-control" name="prixlocation" min="30000">  </div>  
      <div class="form-group"><label for="description">Description:</label>
                                              <input type="text" class="form-control" name="description"></div>
          <button type="submit" class="btn btn-danger mb-2">Submit</button>
          
                                            </form></div>
        
        </div>
      </div>
    </div>
  </div>


<!-- Blogs -->

  <div class="blogs">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_title">
            <h2>Liste des Biens</h2>
          </div>
        </div>
      </div>
      
       {% block liste %}{% endblock %}


    </div>
  </div>

  <!-- New Arrivals -->
<<<<<<< HEAD
=======

  <div class="new_arrivals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_title new_arrivals_title">
            <h2>New Arrivals</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col text-center">
          <div class="new_arrivals_sorting">
            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">Appartement</li>
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">Maison</li>
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">Studio</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

            <!-- Product 1 -->
       {% block liste1 %}{% endblock %}

           



          </div>
        </div>
      </div>
    </div>
  </div>

>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
  

  <!-- Map Container -->

    <div class="row">
<<<<<<< HEAD
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.736884088203!2d-17.433130150003883!3d14.670867789707463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec173b33f1b0f81%3A0xf0757775897d6587!2sCTIC+Dakar!5e0!3m2!1sfr!2ssn!4v1521402842789" width="1300" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
=======
      <div class="col">
        <div id="google_map">
          <div class="map_container">
            <div id="map"></div>
          </div>
        </div>
      </div>
>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
    </div>

    <!-- Contact Us -->

    <div class="row">

  
        <!-- Follow Us -->

      <div class="col-lg-6 get_in_touch_col">
        <div class="get_in_touch_contents">
          <h1>CONTACTEZ-NOUS!</h1>
          <form action="post">
            <div>
              <input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
              <input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
              <input id="input_website" class="form_input input_website input_ph" type="url" name="name" placeholder="Website" required="required" data-error="Name is required.">
              <textarea id="input_message" class="input_ph input_message" name="message"  placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
            </div>
            <div>
              <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">send message</button>
            </div>
          </form>
        </div>
      </div>
    <div class="col-lg-6 contact_col">
       
        <div class="follow_us_contents">
          <h1>Nous rejoindre sur</h1>
          <ul class="social d-flex flex-row">
            <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        </div>

    </div>
  </div>

  
</div>

<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
<script src="{{asset('styles/bootstrap4/popper.js')}}"></script>
<script src="{{asset('styles/bootstrap4/bootstrap.min.js')}}"></script>
<script src="{{asset('plugins/Isotope/isotope.pkgd.min.js')}}"></script>
<script src="{{asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
<script src="{{asset('plugins/easing/easing.js')}}"></script>
<script src="{{asset('js/custom.js')}}"></script>
<script src="{{asset('plugins/easing/easing.js')}}"></script>
<<<<<<< HEAD
<script src="https://www.google.sn/maps/@14.6687089,-17.4324328,17z?hl=fr&hl=fr"></script>
=======
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
<script src="{{asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.js')}}"></script>
<script src="{{asset('js/contact_custom.js')}}"></script>
</body>

</html>