<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
<<<<<<< HEAD
  <title>HORTALA IMMOBILIER| VOTRE AGENCE DE PROXIMITE </title>
=======
        <title>{% block title %}Welcome!{% endblock %}</title>
>>>>>>> c7dea3f39afe44c3fc02f69a517e5def0b23e2cb
{% block stylesheets %}

          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
          <link rel="stylesheet" href="{{ asset('css/datatables.css') }}">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
      <link rel="stylesheet" href="{{ asset('css/proprio.css') }}">

  
{% endblock %}        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/datatables.js' )}}"></script>
    </head>

    <body>
        {% block body %}{% endblock %}  
        {% block table %}{% endblock %}

     {% block javascripts %}

        <script src="{{ asset('js/script.js') }}"> </script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/ajout.js') }}"></script>

         {% endblock %}
    </body>
</html>
