
{% extends "::adminpage.html.twig" %}


    {% block content %}

<div class="container divtable" style="margin-left:30px;">
<table class="table table-condensed" id="listebientable">
<thead>
    <tr>
        <th>nom Proprietaire</th>
        <th>adresse proprietaire</th>
        <th>type bien</th>
        <th>prix</th>
        <th>Localite</th>
        <th>details</th>
    </tr>
</thead>
  {% for reservation in reservations %}
  <tbody>
    <tr>
        <td>{{reservation.proprietaire.numpiece}}</td>
        <td>{{reservation.proprietaire.nomComplet}}</td>
        <td>{{reservation.proprietaire.adresse}}</td>
        <td>{{reservation.bien.typebien}}</td>
        <td>{{reservation.bien.prixlocation}}</td>
        <td>{{reservation.bien.libellelocalite}}</td>
    
         <td><a href="{{path('validerproposition',{id:reservation.id})}}" class="btn btn-default bg-primary" id="reservationid">DETAILS</a></td>


    </tr>
    </tbody>

{% else %}

  {% endfor %}
</table>
        <div class="text-center">{{ knp_pagination_render(reservations) }}</div>

</div>
{% endblock %}






{% block footer %}

{% endblock %}






